<div class="topbarContainer">
    <!-- <h1 id="homeButton">Crypto Data</h1> -->
    <div class="topbar">
        <h1 id="homeButton">Crypto Data</h1>
        <div class="infoTabs">
            <button class="buttonTab" id="learnButton" (click)="buttonClicked()">Learn</button>
            <button class="buttonTab" id="newsButton">News</button>
            <button class="buttonTab" id="aboutButton">About Us</button>
        </div>
        <div class="setup" *ngIf="loggedIn === false">
            <button class="buttonTab" id="signInButton">Login</button>
            <button class="buttonTab setup" id="signUpButton">Sign Up</button>
        </div>
    </div>
</div>